{% extends 'base.html' %}

{% block body %}

<div class="button-group mt-5 mb-3">
    <a href="{% url 'display_all' %}" class="btn btn-primary btn-md" role="button">All</a>
    <a href="{% url 'display_cldr' %}" class="btn btn-primary btn-md" role="button">CLDR</a>
    <a href="{% url 'display_docu' %}" class="btn btn-primary btn-md" role="button">DOCU</a>
    <a href="{% url 'display_pd' %}" class="btn btn-primary btn-md" role="button">PD</a>
    <a href="{% url 'display_pins' %}" class="btn btn-primary btn-md" role="button">PINS</a>
    <a href="{% url 'display_pvl' %}" class="btn btn-primary btn-md" role="button">PVL</a>
    <a href="{% url 'display_run' %}" class="btn btn-primary btn-md" role="button">RUN</a>
    <a href="{% url 'display_zm' %}" class="btn btn-primary btn-md" role="button">ZM</a>
    <a href="{% url 'display_zuo' %}" class="btn btn-primary btn-md" role="button">ZUO</a>
</div>

<h4>
    Currently viewing {{ header }}
</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adj_Close</th>
        <th>Volume</th>
    </tr>
    </thead>
    <tbody>

    {% for item in items %}

    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.Date }}</td>
        <td>{{ item.Open }}</td>
        <td>{{ item.High }}</td>
        <td>{{ item.Low }}</td>
        <td>{{ item.CLose }}</td>
        <td>{{ item.Adj_close }}</td>
        <td>{{ item.Volume }}</td>
    </tr>

    {% endfor %}


</tbody>
</table>



{% endblock %}
